fastapi
uvicorn
sqlalchemy
python-multipart
google-generativeai
python-dotenv
tensorflow
pandas
scikit-learn
joblib
numpy
psycopg2-binary
lightgbm
python-jose[cryptography]
passlib[bcrypt]
email-validator
bcrypt
