fastapi
uvicorn
sqlalchemy
python-multipart
google-generativeai
python-dotenv
tensorflow
pandas
scikit-learn
joblib
numpy
psycopg2-binary
lightgbm
python-jose[cryptography]
passlib[bcrypt]==1.7.4
email-validator
bcrypt==4.0.1
Pillow
